body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #dbdbdb;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #000000;
    color: #dbdbdb;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.container {
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 175, 219, 1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

h1, h2 {
    color: #dbdbdb;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #00afdb;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}

footer {
    background-color: #000000;
    color: #dbdbdb;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#screamer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#startButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#securityCheck, #confirmation, #screamer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#confirmation, #screamer {
    display: none;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}